/* Estilos generales */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background: #f0f0f0; /* Fondo gris claro */
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background: #fff; /* Fondo blanco */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  margin-bottom: 40px;
}

nav ul {
  padding: 0;
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold; /* Texto en negrita */
}

nav ul li a:hover {
  color: #007bff; /* Cambia el color del texto al azul al pasar el mouse */
}

section {
  margin-bottom: 40px;
}

h2 {
  color: #333;
  margin-bottom: 20px; /* Aumenta el espacio inferior */
}

p {
  color: #666;
}

/* Estilos para botones */
.button {
  display: inline-block;
  padding: 10px 20px;
  background: #007bff; /* Azul */
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button:hover {
  background: #0056b3; /* Azul más oscuro al pasar el mouse */
}

/* Estilos para botones exóticos */
.exotic {
  background: #ff4500; /* Naranja */
  border-radius: 30px;
  border: 2px solid #e56b38;
  transition: all 0.3s ease;
}

.exotic:hover {
  background: #e56b38; /* Naranja más oscuro al pasar el mouse */
}
