/* Estilos generales */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
  text-align: center;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

li {
  margin-bottom: 10px;
  color: #666;
}

/* Estilos para los badges */
.badge {
  width: 150px;
  height: auto;
  display: block;
  margin: 20px auto;
}

/* Estilos para los lenguajes de programación */
.languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.languages a {
  margin: 10px;
}

.languages img {
  width: 100px;
  height: auto;
}

/* Estilos para las estadísticas de GitHub */
.stats {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.stats img {
  max-width: 45%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stats a {
  text-decoration: none;
  color: #333;
}

.stats a:hover {
  color: #666;
}

/* Estilos específicos para el badge de Twitch */
.badge-twitch {
  width: 200px;
  height: auto;
}

/* Estilos para enlaces */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilos para la sección "Sobre mí" */
.about-me {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  margin-top: 40px;
}

.about-me h2 {
  color: #333;
  margin-bottom: 20px;
}

.about-me p {
  color: #666;
}

/* Estilos para el footer */
.footer {
  text-align: center;
  margin-top: 40px;
  color: #666;
}
